<div class="account-summary">
	<table >
		<tr>
			<th>账户总览:</th><th>警告：</th>
		</tr>
		<tr>
			<td>
			<p>
				您的总资产：100000 元
				<br/>
				本月花费：1000 元
			</p></td>
			<td >
			<p class="summary-warning-item">
				您有<a href="#">2</a> 个虚拟账户透支
				<br />
				您有<a href="#">3</a> 个虚拟账户本月话费超预算
			</p></td>
		</tr>
	</table>
</div>
<div class="button-area">
<a href="#/add-record" class="circle-button">记账</a><a href="#/divide-money"  class="circle-button">月初预算划拨</a><a href="#/month-records" class="circle-button">本月账单</a><a href="#/month-reports" class="circle-button">本月财务报表</a>
</div>