<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.binyu.myfinance.backend.daos.PhysicalAccountMapper">
	<select id="getPhysicalAccountList" resultMap="physicalAccountMap">
		SELECT p.id,p.name,p.description,sum(vp.amount) as amount
		FROM physical_accounts as p
		left outer join account_stores as vp on vp.physical_account_id=p.id
		group by p.id
		order by p.id
	</select>
	<select id="getPhysicalAccountById" resultMap="physicalAccountMap">
		SELECT p.id,p.name,p.description,sum(vp.amount) as amount
		FROM physical_accounts as p
		left outer join account_stores as vp on vp.physical_account_id=p.id
		WHERE p.id = #{id}
		group by p.id
	</select>
	<insert id="addPhysicalAccount" useGeneratedKeys="true" keyProperty="id">
		insert
		into physical_accounts(name,description)
		values
		(#{name},#{description})
	</insert>
	<update id="updatePhysicalAccount">
		update
		physical_accounts
		set name=#{name},description=#{description}
		where id=#{id}
	</update>
	<delete id="deletePhysicalAccount">
		delete
		from physical_accounts
		where id=#{id}
	</delete>
	
	<resultMap id="physicalAccountMap" type="org.binyu.myfinance.backend.dtos.PhysicalAccount">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="amount" column="amount" />
	</resultMap>
</mapper>