<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.binyu.myfinance.backend.daos.VirtualAccountMapper">
	<select id="getVirtualAccountList" resultMap="VirtualAccountMap">
		SELECT v.id,v.name,v.description,v.budget,vp.amount as vp_amount,p.id as p_id,p.name as p_name
		FROM virtual_accounts as v
		left outer join account_stores as vp on vp.virtual_account_id=v.id
		left outer join physical_accounts as p on p.id=vp.physical_account_id
		order by v.id,p.id
	</select>
	<select id="getVirtualAccountById" resultMap="VirtualAccountMap">
		SELECT v.id,v.name,v.description,v.budget,vp.amount as vp_amount,p.id as p_id,p.name as p_name
		FROM virtual_accounts as v
		left outer join account_stores as vp on vp.virtual_account_id=v.id
		left outer join physical_accounts as p on p.id=vp.physical_account_id
		WHERE v.id = #{id}
		order by v.id,p.id
	</select>
	<insert id="addVirtualAccount" useGeneratedKeys="true" keyProperty="id">
		insert
		into virtual_accounts(name,description,budget)
		values
		(#{name},#{description},#{budget})
	</insert>
	<update id="updateVirtualAccount">
		update
		virtual_accounts
		set name=#{name},description=#{description},budget=#{budget}
		where id=#{id}
	</update>
	<delete id="deleteVirtualAccount">
		delete
		from virtual_accounts
		where id=#{id}
	</delete>
	
	<resultMap id="VirtualAccountMap" type="org.binyu.myfinance.backend.dtos.VirtualAccount">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="description" column="description" />
		<result property="budget" column="budget" />
		<collection property="mappedPhysicalAccounts" ofType="org.binyu.myfinance.backend.dtos.ExtAccountStore">
			<id property="physicalAccountId" column="p_id" />
			<result property="physicalAccountName" column="p_name" />
			<result property="amount" column="vp_amount" />
		</collection>
	</resultMap>
</mapper>