<div>
				<div>
					<label for="select-record-type">类型:</label>
					<select name="select-record-type" id="select-record-type">
						<option value="1">收入记录</option>
						<option value="2">支出记录</option>
						<option value="3">转账记录</option>
					</select>
					<label for="select-src-pysical-account">源物理账户:</label>
					<select name="select-src-pysical-account" id="select-src-pysical-account">
						<option value="1">招行 622500000000001</option>
						<option value="2">农行 622500000000001</option>
						<option value="3">现金</option>
					</select>
					<label for="select-src-virtual-account">源虚拟账户:</label>
					<select name="select-src-virtual-account" id="select-src-virtual-account">
						<option value="1">日常消费账户</option>
						<option value="2">孩子教育金</option>
						<option value="3">养老金</option>
					</select>
					<label for="select-dst-pysical-account">目标物理账户:</label>
					<select name="select-dst-pysical-account" id="select-dst-pysical-account">
						<option value="1">招行 622500000000001</option>
						<option value="2">农行 622500000000001</option>
						<option value="3">现金</option>
					</select>
					<label for="select-dst-virtual-account">目标虚拟账户:</label>
					<select name="select-dst-virtual-account" id="select-dst-virtual-account">
						<option value="1">日常消费账户</option>
						<option value="2">孩子教育金</option>
						<option value="3">养老金</option>
					</select>
					<label for="number-ammount">金额：</label>
					<input data-clear-btn="false" pattern="[0-9]*" name="number-ammount" id="number-ammount" value="" type="number">
					<label for="text-desc">备注：</label>
					<input data-clear-btn="true" name="text-desc" id="text-desc" value="" type="text">
				</div>
				<br /><br /><br />
				<div >
					<label for="input-submit"></label>
					<a href="month-record-list.html" data-role="button" data-icon="plus" data-iconpos="right" name="input-submit" id="input-submit" >添加记录</a>
					</div>
			</div>



<a href="#/">Back to Home</a>