<div>
	<div>
		<label for="select-record-date">日期:</label>
		<input type="date" id="select-record-date" data-ng-model="trans.date"/>
		<label for="select-record-type">类型:</label>
		<select name="select-record-type" id="select-record-type" data-ng-model="trans.type">
			<option value="INCOME">收入</option>
			<option value="EXPENSE">支出</option>
			<option value="TRANSFER">转账</option>
		</select>
		<div data-ng-show="trans.hasFrom()">
			<label for="select-src-pysical-account">源物理账户:</label>
			<select name="select-src-pysical-account" id="select-src-pysical-account" data-ng-model="trans.fromPhysicalAccount" data-ng-options="account as account.name for account in physicalAccountList track by account.id" data-role="none">

			</select>
			<label for="select-src-virtual-account">源虚拟账户:</label>
			<select name="select-src-virtual-account" id="select-src-virtual-account" data-ng-model="trans.fromVirtualAccount" data-ng-options="account as account.name for account in virtualAccountList track by account.id" data-role="none">
				<option value="1">日常消费账户</option>
				<option value="2">孩子教育金</option>
				<option value="3">养老金</option>
			</select>
		</div>
		<div data-ng-show="trans.hasTo()">
			<label for="select-dst-pysical-account">目标物理账户:</label>
			<select name="select-dst-pysical-account" id="select-dst-pysical-account" data-ng-model="trans.toPhysicalAccount" data-ng-options="account as account.name for account in physicalAccountList track by account.id" data-role="none">

			</select>
			<label for="select-dst-virtual-account">目标虚拟账户:</label>
			<select name="select-dst-virtual-account" id="select-dst-virtual-account" data-ng-model="trans.toVirtualAccount" data-ng-options="account as account.name for account in virtualAccountList track by account.id" data-role="none">
				<option value="1">日常消费账户</option>
				<option value="2">孩子教育金</option>
				<option value="3">养老金</option>
			</select>
		</div>
		<label for="number-ammount">金额：</label>
		<input data-clear-btn="false" pattern="[0-9]*" name="number-ammount" id="number-ammount" value="0" type="number" data-ng-model="trans.amount">
		<label for="text-desc">备注：</label>
		<input data-clear-btn="true" name="text-desc" id="text-desc" value="" type="text" data-ng-model="trans.desc">
	</div>
	<br />
	<br />
	<div >
		<label for="input-submit"></label>
		<a href="#/month-records" data-role="button" data-icon="plus" data-iconpos="right" name="input-submit" id="input-submit" data-ng-click="trans.submit()">添加记录</a>
	</div>
</div>
