/**
 * 	Styles for the buttons on every page
 */
.button-area {
	padding: 0px;
	width: 100%;
}
.circle-button {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-image: -moz-radial-gradient(45px 45px 45deg, circle farthest-corner, black 0%, gray 100%, white 5%);
	background-image: -webkit-radial-gradient(45px 45px, circle farthest-corner, black 0%, gray 100%, white 5%);
	background-image: radial-gradient(45px 45px, circle farthest-corner, black 0%, gray 100%, white 5%);
	border: 1px solid gray;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
	position: relative;
	display: inline-block;
	/*margin-right: 20px;*/
	line-height: 130px;
	text-decoration: none;
	text-align: center;
	font-size: 1em;
}
.ui-page a.circle-button {
	color: #ffffff;
}
.circle-button:hover {
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, gray 0%, black 100%, white 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, gray, black);
	background-image: radial-gradient(45px 45px 45deg, circle cover, gray 0%, black 100%, white 95%);
}
@media only screen and (max-width: 480px) {
	.circle-button {
		width: 50%;
		height: 50px;
		line-height: 50px;
		border-radius: 0px;
		border: none;
		float: left;
	}
}

/**
 * 	Styles for the summary area on home page.
 */
.account-summary {
	/*width: 100%;*/
	border: none;
	padding: 16px;
	background-color: #C0C0C0;
	color: green;
	text-align: left;
	vertical-align: top;
}
.account-summary table {
	width: 100%;
	table-layout: fixed;
}
.account-summary th {
	height: 50px;
}
.summary-warning-item {
	color: #C12E2A;
}



/**
 * 	Styles for editable lists(physical/virtual account lists, etc.)
 */
.account-table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}
.account-table thead tr {
}
.account-table thead tr th {
	background-color :#C0C0C0;
	line-height : 35px;
	padding-bottom:5px;
	/*border-left: 10px solid #f9f9f9;*/
	padding-right:10px;
    border-radius: 10px;
    box-shadow: inset 0px 0px 10px #999;
}



.active-form input.ng-invalid.ng-touched {
	background-color: #FA787E;
}
.active-form input.ng-valid.ng-touched {
	background-color: #FFFFFF;
}
.static-form input {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	outline: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

/* for sliders */
.ui-field-contain > label {
	width : 40%;
}
.ui-field-contain > label ~ [class*="ui-"] {
	width : 50%;
}
