/**
 * 	Styles for the buttons on every page
 */
.button-area {
	padding: 0px;
	width: 100%;
}
.circle-button {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	background-image: -moz-radial-gradient(45px 45px 45deg, circle farthest-corner, lightgreen 0%, green 100%, blue 5%);
	background-image: -webkit-radial-gradient(45px 45px, circle farthest-corner, lightgreen 0%, green 100%, blue 5%);
	background-image: radial-gradient(45px 45px, circle farthest-corner, lightgreen 0%, green 100%, blue 5%);
	border: 1px solid green;
	box-shadow: 0 3px 8px rgba(0, 0, 0, 0.3);
	position: relative;
	display: inline-block;
	/*margin-right: 20px;*/
	line-height: 130px;
	text-decoration: none;
	text-align: center;
	font-size: 1em;
	color: #000000;
}
.circle-button:hover {
	background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, green 0%, lightgreen 100%, blue 95%);
	background-image: -webkit-radial-gradient(45px 45px, circle cover, green, lightgreen);
	background-image: radial-gradient(45px 45px 45deg, circle cover, green 0%, lightgreen 100%, blue 95%);
}
@media only screen and (max-width: 480px) {
	.circle-button {
		width: 50%;
		height: 50px;
		line-height: 50px;
		border-radius: 0px;
		border: none;
	}
}

/**
 * 	Styles for the summary area on home page.
 */
.account-summary {
	width: 100%;
	border: none;
	padding: 10px;
	background-color: #C0C0C0;
	color: green;
	text-align: left;
	vertical-align: top;
}
.account-summary table {
	width: 100%;
	table-layout: fixed;
}
.account-summary th {
	height: 50px;
}
.summary-warning-item {
	color: #C12E2A;
}

.account-table {
	width: 100%;
	table-layout: fixed;
}
.account-table thead {
	border-bottom: 1px solid white;
	line-height: 40px;
}
.active-form input.ng-invalid.ng-touched {
	background-color: #FA787E;
}
.active-form input.ng-valid.ng-touched {
	background-color: #FFFFFF;
}
.ui-btn {
	border-color: rgb(0, 122, 255);
}
.static-form input {
	background-color: rgba(0, 0, 0, 0);
	border: none;
	outline: none;
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

